<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>IsoReact Example</title>

    <style>
        html, body {
            margin: 0;
            font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Roboto, 'Segoe UI', sans-serif;
        }
        body {
            padding: 0 12px;
        }
        h2 small {
            color: #999;
            font-family: monospace;
        }
    </style>
    {{{head}}}
</head>
<body>
<h1>IsoReact Example</h1>
    <section class="section1">
        <header>
            <h2>Clock <small>{{isoClockSrc}}</small></h2>
        </header>
        {{{isoClockHtml}}}
    </section>

    <section class="section2">
        <header>
            <h2>Clock with random start <small>{{isoClock2Src}}</small></h2>
        </header>
        {{{isoClock2Html}}}
    </section>

    <section class="section3">
        <header>
            <h2>Clock with current time <small>{{isoClockNowSrc}}</small></h2>
        </header>
        {{{isoClockNowHtml}}}
    </section>

    <section class="section4">
        <header>
            <h2>Clock with current time (no SSR) <small>{{isoClockNowBrowserOnlySrc}}</small></h2>
        </header>
        <div id="isoClockNowClientOnly"></div>
    </section>

    <section class="section5">
        <header>
            <h2>Component 2 <small>{{isoComponent2Src}}</small></h2>
        </header>
        {{{isoComponent2Html}}}
    </section>

    <script src="/static/client-bundle.js"></script>
</body>
</html>
